h1.display-4 Price alerts, straight to your inbox.
p.lead Cryptocurrency prices fluctuate frequently, and by huge amounts. Coinwatch sends you emails when the prices of currencies you're interested in move more than 2.5% in 5 minutes.
