doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title coinwatch
        meta(name="description" content="Get email notifications about price changes in bitcoin, ethereum, and litecoin")
        meta(name="keywords" content="bitcoin, ethereum, litecoin, cryptocurrency, crypto, coinbase, email, notification")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
        link(rel="stylesheet" href="https://dqni2bx3lxewx.cloudfront.net/styles/styles.css")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
    body.bg-gray
        .bg-blue
            .container
                nav.navbar.justify-content-between
                    a.navbar-brand(href="/")
                        img(src="https://dqni2bx3lxewx.cloudfront.net/images/logo%2Btext-white%402x.png" alt="Coinwatch logo" height="50")
                    //- a.btn.btn-outline-success.helvetica.font-weight-light(href="#") Donate
            .jumbotron.jumbotron-fluid.bg-blue
                .container
                    block jumbotron-contents
        .container.bg-gray.helvetica.font-weight-light
            .row
                .col-md-4
                    figure.figure.mb-3
                        img.figure-img.img-fluid.rounded(src="https://dqni2bx3lxewx.cloudfront.net/images/email-example.png" alt="Email example")
                        figcaption.figure-caption An alert email
                .col-md-8
                    .mt-0
                        h2.helvetica.font-weight-normal How coinwatch works
                        p Let's say you own some Bitcoin and Litecoin and want to be alerted when their prices experience a big change.
                        ol
                            li You sign up to receive alerts for Bitcoin and Litecoin.
                            li Eventually, Bitcoin and Litecoin prices drop more than 2.5% in a 5-minute period.
                            li Coinwatch sends you an email with the current prices and % change for both currencies.
        footer
            .footer.container.helvetica.font-weight-light
                hr
                .footer__copyright &copy; BLZ 2017
