p Thanks for signing up for Coinwatch!. Before we can send you price alerts, you'll need to verify your email address by clicking the link below.
p
    a(href=`${link}`) Verify my email address

p -The Coinwatch Team
